.container{
	width:800px;
	height:650px;
	margin:auto;
}
.header{
	width:100%;
	height:10%;
}
.header_left{
	width:20%;
	height:100%;
	background:#020202;
	float:left;
}
.header_right{
	width:80%;
	height:100%;
	background:#925734;
	float:right;
}
.content{
	width:100%;
	height:70%;
}
.left_column{
	width:20%;
	height:100%;
	background:#B90000;
	float:left;
}
.right_column{
	width:80%;
	height:100%;
	float:right;
}
.c1{
	width:100%;
	height:20%;
	background:#01A762;
}
.c2{
	width:100%;
	height:20%;
	background:#00A2FF;
}
.c3-2{
	width:100%;
	height:60%;
}
.c3{
	width:40%;
	height:100%;
	background:#5548CC;
	float:left;
}
.c4{
	width:60%;
	height:100%;
	background:#FE7F0C;
	float: right;
}
.content-bottom{
	width:100%;
	height:10%;
}
.bottom-left{
	width:50%;
	height:100%;
	background:#6C6C6C;
	float:left;
}
.bottom-right{
	width:50%;
	height:100%;
	background:#844A29;
	float:right;
}
.footer{
	width:100%;
	height:10%;
	background:#C70039;
	float: left;
}
